{% extends 'base.html' %}
{% load static %}

{% block title %}毒情评估{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        毒情评估与绩效考评系统
        <!--        <small>dashboard</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="/drug/"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">毒情评估与绩效考评系统</li>
    </ol>
</section>
{% endblock %}

{% block content %}


{% endblock %}