{% extends 'base.html' %}
{% load static %}
{% block title %}毒情评估{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        涉毒新闻
<!--        <small>assets list</small>-->
      </h1>
      <ol class="breadcrumb">
        <li><a href="/drug/"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">涉毒新闻</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
    {% csrf_token %}
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
          <h3 class="box-title">数据源:禁毒在线<small></small></h3>
        </div>

          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="regression1">
                {{regression1|safe}}
            </div>

        <!-- /.box-header -->
        <div class="box-body">

            <table id="assets_table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>新闻标题</th>
                        <th>新闻地址</th>
                        <th>发布日期</th>
                    </tr>
                </thead>
                <tbody>
                {% for news in all_news %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ news.news_title }}</td>
                        <td><a href="{{ news.news_url }}" target="_blank">{{ news.news_url }}</a></td>
                        <td>{{ news.news_date|date:"Y/m/d" }}</td>
                    </tr>
                {% empty %}
                <tr>没有数据</tr>
                {% endfor %}
                </tbody>
            </table>
<!--            <div class="pull-left">-->
<!--              <a href="/drug/crawl/" class="btn btn-default btn-flat">异步爬取新数据</a>-->
<!--            </div>-->
            <div>
                <button type="button" onclick="update_news()" class="btn btn-primary float-right">异步爬取新数据</button>
            </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(function () {
            $('#assets_table').DataTable({
              "paging": true,       <!-- 允许分页 -->
              "lengthChange": true, <!-- 允许改变每页显示的行数 -->
              "searching": true,    <!-- 允许内容搜索 -->
              "ordering": true,     <!-- 允许排序 -->
              "info": true,         <!-- 显示信息 --> <!-- 固定宽度 -->
              "autoWidth": false
            });
    });
    var token = $('input[name=csrfmiddlewaretoken]').val();
    function update_news() {
        $.ajax({
                type: "POST",   //提交的方法
                url:"/drug/crawl/", //提交的地址
                data: {csrfmiddlewaretoken: token},
                async: false,
                error: function(request) {  //失败的话
                     alert("Connection error");
                },
                success: function() {  //成功
                    alert("后台网络数据自动爬取中...稍后刷新，请勿频繁点击！")
                     // window.location.href="跳转页面"
                }
             });
    }
</script>
{% endblock %}
