{% extends 'base.html' %}
{% load static %}

{% block title %}毒情分析{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        舆论情感
        <small>以某公众人物吸毒舆论为例（基于微博80万评论数据）</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/drug/"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">舆论情感</li>
      </ol>
    </section>
{% endblock %}

{% block content %}


  <!-- Main content 12-->
    <section class="content">

      <div class="row">
        <div class="col-md-6">
          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">全部微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="themepie">
                {# 百度Echarts实现饼状图#}
                {{themepie|safe}}
<!--              <div style="width: 600px;height:250px;"></div>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
        <div class="col-md-6">
          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">情感偏向统计：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="actionpie">
                {{actionpie|safe}}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
      </div>


      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">14年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="drugbar">
                {{drugbar|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">15年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcloud">
                {{wordcloud|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">16年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="drugbar">
                {{drugbar|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">17年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcloud">
                {{wordcloud|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">18年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="drugbar">
                {{drugbar|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">19年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcloud">
                {{wordcloud|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>
<!--      </div>-->
      <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}

<script src="{% static 'adminlet-2.4.10/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/jquery-knob/js/jquery.knob.js' %}"></script>
<script>
  var token = $('input[name=csrfmiddlewaretoken]').val();
  $(function () {
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, locale: { format: 'MM/DD/YYYY hh:mm A' }})
    $("#date").click(function () {
    $.ajax({
            type: "POST",   //提交的方法
            url:"/drug/analysis/", //提交的地址
            data: {csrfmiddlewaretoken: token, date_range: $("#reservationtime").val()},
            // processData: false,
            async: false,
            // dataType: 'json',
            error: function(request) {  //失败的话
                 alert("Connection error");
            },
            success: function(data) {  //成功
              // alert('分析结束！')
              $("#themepie").html(data.themepie);
              $("#actionpie").html(data.actionpie);
              $("#drugbar").html(data.drugbar);
              $("#wordcloud").html(data.drugbar);
                //  window.location.href="/drug/analysis/"
            }
         });
       });
  })
</script>
{% endblock %}