<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Off-Canvas Menu Effects - Top Side</title>

<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />

<!--必要样式-->
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/menu_topside.css" />
<!--[if IE]>
<script src="/static/js/html5.js"></script>
<![endif]-->

<!--<link rel="stylesheet" href="/static/css/bootstrap.min.css" />-->
<link rel="stylesheet" href="/static/css/app.css" />
{% for jsfile_name in script_list %}
    <script src="{{host}}/{{jsfile_name}}.js"></script>
{% endfor %}
<style>
    .div-inline{float: left}
    .boxes{color: rgba(212, 215, 229, 0.8);}
</style>
</head>
<body class="bg04">
    <header class="header">
        <h3>毒情评估系统</h3>
    </header>
    <div>
        <div class="div-inline">
            <nav class="menu-side" style="width: 300px">
                <a href="news">新闻提取</a>
                <a href="region">毒情展示</a>
                <a href="sentiment">情感分类</a>
                <a href="demo">涉毒舆情实例</a>
		    </nav>
        </div>
        <div class="div-inline" align="center">
            <div align="center" style="color:#85ff58">
                <form action="/drug/sentiment" method="post">
                    {%csrf_token%}
                    <h4>待分类评论：</h4>
                    <textarea class="boxes" type="text" rows="15" cols="120" name="comments" style="background:transparent">{{comments}}</textarea>
                    <br>
                    <input type="submit" value="智能评估" style="background:rgba(253,251,239,0.73);">
                </form>
                <h4>基于深度学习的情绪分类结果:</h4>
                <textarea class="boxes" type="text" rows="15" cols="50" style="background:transparent">{{display}}</textarea>
            </div>
        </div>
    </div>
</body>
</html>