{% extends 'base.html' %}
{% load static %}

{% block title %}毒情分析{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        舆论情感
        <small>以某公众人物吸毒舆论为例（基于微博80万评论数据）</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/drug/"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">舆论情感</li>
      </ol>
    </section>
{% endblock %}

{% block content %}


  <!-- Main content 12-->
    <section class="content">

      <div class="row">
        <div class="col-md-6">
          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">全部微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcoutsall">
                {{wordcoutsall|safe}}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
        <div class="col-md-6">
          <!-- DONUT CHART -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">情感偏向统计：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="sentimentbar">
                {{sentimentbar|safe}}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
      </div>


      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">14年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcouts14">
                {{wordcouts14|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">15年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcouts15">
                {{wordcouts15|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">16年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcouts16">
                {{wordcouts16|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">17年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcouts17">
                {{wordcouts17|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">18年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcouts18">
                {{wordcouts18|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
            <!-- BAR CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">19年微博评论词云：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" id="wordcouts19">
                {{wordcouts19|safe}}
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>
<!--      </div>-->
      <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}

<script src="{% static 'adminlet-2.4.10/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/jquery-knob/js/jquery.knob.js' %}"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
{% endblock %}